version: "3.8"

services:

  reverse-proxy:
    image: nginx:latest
    ports:
      - "8180:80"  # Expose the reverse proxy on port 80
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf  # Mount your custom NGINX configuration
    depends_on:
      - user_service
      - department_service

  test-runner:
    image: golang:1.23
    privileged: true # Enable privileged mode
    environment:
      - DOCKER_HOST=tcp://dind:2375 # Use the dind service
    working_dir: /app
    volumes:
      - .:/app
      - /var/run/docker.sock:/var/run/docker.sock # Allow access to host Docker
    command: >
      sh -c " go mod tidy && go test -v ./integration_test/... "

  user_service:
    env_file: .env_local
    environment:
      - LOG_LEVEL=${LOG_LEVEL}
      - DATABASE_URL=${DATABASE_URL}
      - PORT=${PORT}
      - DB=${DB}
      - DB_MAX_IDLE=${DB_MAX_IDLE}
      - DB_MAX_OPEN=${DB_MAX_OPEN}
      - DB_MAX_LIFE_TIME=${DB_MAX_LIFE_TIME}
      - DB_MAX_IDLE_TIME=${DB_MAX_IDLE_TIME}
      - ZAP_CONF=${ZAP_CONF}
      - GORM_CONF=${GORM_CONF}
      - PPROF_ENABLE=${PPROF_ENABLE}
    build:
      context: .
      dockerfile: service/user_service/Dockerfile
      no_cache: true
      args:
        - logLevelEnvVar=${LOG_LEVEL}
        - databaseURLEnvVar=${DATABASE_URL}
        - portEnvVar=${PORT}
        - dBEnvVar=${DB}
        - dBMaxIdleEnvVar=${DB_MAX_IDLE}
        - dBMaxOpenEnvVar=${DB_MAX_OPEN}
        - dBMaxLifeTimeEnvVar=${DB_MAX_LIFE_TIME}
        - dBMaxIdleTimeEnvVar=${DB_MAX_IDLE_TIME}
        - zapConf=${ZAP_CONF}
        - gormConf=${GORM_CONF}
        - pprofEnable=${PPROF_ENABLE}
    ports:
      - "5001:8185"
    volumes:
      - /config/gorm-logger-config.json:/config/gorm-logger-config.json
      - /config/zap-logger-config.json:/config/zap-logger-config.json
    depends_on:
      - db

  department_service:
    env_file: .env_local
    environment:
      - LOG_LEVEL=${LOG_LEVEL}
      - DATABASE_URL=${DATABASE_URL}
      - PORT=${PORT}
      - DB=${DB}
      - DB_MAX_IDLE=${DB_MAX_IDLE}
      - DB_MAX_OPEN=${DB_MAX_OPEN}
      - DB_MAX_LIFE_TIME=${DB_MAX_LIFE_TIME}
      - DB_MAX_IDLE_TIME=${DB_MAX_IDLE_TIME}
      - ZAP_CONF=${ZAP_CONF}
      - GORM_CONF=${GORM_CONF}
      - PPROF_ENABLE=${PPROF_ENABLE}
    build:
      context: .
      dockerfile: service/department_service/Dockerfile
      no_cache: true
      args:
        - logLevelEnvVar=${LOG_LEVEL}
        - databaseURLEnvVar=${DATABASE_URL}
        - portEnvVar=${PORT}
        - dBEnvVar=${DB}
        - dBMaxIdleEnvVar=${DB_MAX_IDLE}
        - dBMaxOpenEnvVar=${DB_MAX_OPEN}
        - dBMaxLifeTimeEnvVar=${DB_MAX_LIFE_TIME}
        - dBMaxIdleTimeEnvVar=${DB_MAX_IDLE_TIME}
        - zapConf=${ZAP_CONF}
        - gormConf=${GORM_CONF}
        - pprofEnable=${PPROF_ENABLE}
    ports:
      - "5002:8185"
    volumes:
      - /config/gorm-logger-config.json:/config/gorm-logger-config.json
      - /config/zap-logger-config.json:/config/zap-logger-config.json
    depends_on:
      - db

  db:
    image: postgres:latest
    ports:
      - "5430:5432"
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydb
    volumes:
      - ./database/migration.sql:/docker-entrypoint-initdb.d/migration.sql
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
